    /*
    Flaticon icon font: Flaticon
    Creation date: 11/12/2019 00:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-smartphone:before { content: "\f100"; }
.flaticon-maps-and-location:before { content: "\f101"; }
.flaticon-servers:before { content: "\f102"; }
.flaticon-cloud-server:before { content: "\f103"; }
.flaticon-test:before { content: "\f104"; }
.flaticon-sprint:before { content: "\f105"; }
.flaticon-remote-control:before { content: "\f106"; }
    
    $font-Flaticon-smartphone: "\f100";
    $font-Flaticon-maps-and-location: "\f101";
    $font-Flaticon-servers: "\f102";
    $font-Flaticon-cloud-server: "\f103";
    $font-Flaticon-test: "\f104";
    $font-Flaticon-sprint: "\f105";
    $font-Flaticon-remote-control: "\f106";