	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/12/2019 00:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-smartphone:before { content: "\f100"; }
.flaticon-maps-and-location:before { content: "\f101"; }
.flaticon-servers:before { content: "\f102"; }
.flaticon-cloud-server:before { content: "\f103"; }
.flaticon-test:before { content: "\f104"; }
.flaticon-sprint:before { content: "\f105"; }
.flaticon-remote-control:before { content: "\f106"; }